#container {
    height: calc(100% - 60px);
    display: flex;

    .snb_section {
        display: none;
    }

    &.open {
        .snb_section {
            display: block;
            width: 250px;
            color: #707070;
            border-right: 1px solid black;
        }
        .content_section {
            flex: 1;
        }
    }
}

