#headerForMail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00C73C;
    height: 50px;
}

.service_title {
    color: white;
    padding-left: 20px;

    @font-face {
        font-family: 'Nanum Gothic Coding', monospace;
        src: url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
    }

    h1 {
        font-size: 25px;
    }

    em {
        font-size: 25px;
        font-weight: 900;
    }
}

.gnb_area {
    ul {
        font-size: 0;
    }
    li {
        font-size: 1px;
        display: inline-block;
    }
    a {
        display: block;
        padding: 10px;
    }
    .gnb_icon {
        display: inline-block;
        vertical-align: top;
        width: 30px;
        height: 30px;
        background: #068B2A
    }
    .on .gnb_icon{
        background: #FFFFFF;
    }
}

.login_area {
    height: 50px;
    line-height: 50px;
    font-size: 0;
    .login_myprofile {
        display: inline-block;
        font-size: 12px;
        color: #FFFFFF;
        margin-right: 15px;
    }

    .img_profile {
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        height: 30px;
        background: white;
        border-radius: 50%;
    }

    .myname {
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;
    }
    .myname:hover {
        text-decoration: underline;
     }

    .btn_quickview {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 50px;
        vertical-align: top;
        text-align: center;
        .icon {
            display: inline-block;
            width: 15px;
            height: 15px;
            background: #FFFFFF;
            margin-top: 17px;
        }
    }
    .btn_quickview::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 50px;
        left: 0;
        background: #068B2A;
    }
}